.nav {
  background-color: #c2f9bb;
  height: 80px;
}

.appName {
  color: #20063b;
  font-size: xx-large;
  padding: 20px 50px;
  letter-spacing: 3px;
}
.container-fluid {
  background-color: #20063b;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
